<a href="https://colab.research.google.com/github/GustavoHDLC1/Colab_Files_PADP/blob/main/Sem4_Practica13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Limpieza y Transformación de Datos

In [1]:
import pandas as pd
import numpy as np

In [2]:
# lectura del csv sin omitir el último registro
df = pd.read_csv('/content/drive/MyDrive/MIAAD/PADP/miaad-nyc-r-s.csv')
df.tail(3)

/tmp/ipython-input-1206786257.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/drive/MyDrive/MIAAD/PADP/miaad-nyc-r-s.csv')

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
84546,8412,5.0,WOODROW,22 STORE BUILDINGS,4,7100.0,28.0,,K6,2730 ARTHUR KILL ROAD,...,0.0,7.0,7.0,208033,64117,2001.0,4.0,K6,11693337,2016-12-21 00:00:00
84547,8413,5.0,WOODROW,35 INDOOR PUBLIC AND CULTURAL FACILITIES,4,7105.0,679.0,,P9,155 CLAY PIT ROAD,...,0.0,1.0,1.0,10796,2400,2006.0,4.0,P9,69300,2016-10-27 00:00:00
84548,Esta es una línea que no deberías cargar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
print(df.shape)

(84549, 22)

In [4]:
# lectura del csv omitiendo el último registro
df = pd.read_csv('/content/drive/MyDrive/MIAAD/PADP/miaad-nyc-r-s.csv').iloc[:-1]
df.tail(3)

/tmp/ipython-input-1214298124.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/drive/MyDrive/MIAAD/PADP/miaad-nyc-r-s.csv').iloc[:-1]

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
84545,8411,5.0,WOODROW,02 TWO FAMILY DWELLINGS,1,7351.0,60.0,,B2,49 PITNEY AVENUE,...,2.0,0.0,2.0,4000,1496,1925.0,1.0,B2,460000,2017-07-05 00:00:00
84546,8412,5.0,WOODROW,22 STORE BUILDINGS,4,7100.0,28.0,,K6,2730 ARTHUR KILL ROAD,...,0.0,7.0,7.0,208033,64117,2001.0,4.0,K6,11693337,2016-12-21 00:00:00
84547,8413,5.0,WOODROW,35 INDOOR PUBLIC AND CULTURAL FACILITIES,4,7105.0,679.0,,P9,155 CLAY PIT ROAD,...,0.0,1.0,1.0,10796,2400,2006.0,4.0,P9,69300,2016-10-27 00:00:00

In [5]:
print(df.shape)

(84548, 22)

In [6]:
# nombre de las columnas
df.columns.tolist()

['Unnamed: 0',
 'BOROUGH',
 'NEIGHBORHOOD',
 'BUILDING CLASS CATEGORY',
 'TAX CLASS AT PRESENT',
 'BLOCK',
 'LOT',
 'EASE-MENT',
 'BUILDING CLASS AT PRESENT',
 'ADDRESS',
 'APARTMENT NUMBER',
 'ZIP CODE',
 'RESIDENTIAL UNITS',
 'COMMERCIAL UNITS',
 'TOTAL UNITS',
 'LAND SQUARE FEET',
 'GROSS SQUARE FEET',
 'YEAR BUILT',
 'TAX CLASS AT TIME OF SALE',
 'BUILDING CLASS AT TIME OF SALE',
 'SALE PRICE',
 'SALE DATE']

In [7]:
# cambio en el nombre de la primer columna
df = df.rename(columns={"Unnamed: 0": "INDEX MIIAD"})
df.columns.tolist()

['INDEX MIIAD',
 'BOROUGH',
 'NEIGHBORHOOD',
 'BUILDING CLASS CATEGORY',
 'TAX CLASS AT PRESENT',
 'BLOCK',
 'LOT',
 'EASE-MENT',
 'BUILDING CLASS AT PRESENT',
 'ADDRESS',
 'APARTMENT NUMBER',
 'ZIP CODE',
 'RESIDENTIAL UNITS',
 'COMMERCIAL UNITS',
 'TOTAL UNITS',
 'LAND SQUARE FEET',
 'GROSS SQUARE FEET',
 'YEAR BUILT',
 'TAX CLASS AT TIME OF SALE',
 'BUILDING CLASS AT TIME OF SALE',
 'SALE PRICE',
 'SALE DATE']

In [8]:
# pasamos a minúsculas y reemplazamos espacios por guiones bajos
df.columns = df.columns.str.lower().str.replace(' ','_')
df.columns.tolist()

['index_miiad',
 'borough',
 'neighborhood',
 'building_class_category',
 'tax_class_at_present',
 'block',
 'lot',
 'ease-ment',
 'building_class_at_present',
 'address',
 'apartment_number',
 'zip_code',
 'residential_units',
 'commercial_units',
 'total_units',
 'land_square_feet',
 'gross_square_feet',
 'year_built',
 'tax_class_at_time_of_sale',
 'building_class_at_time_of_sale',
 'sale_price',
 'sale_date']

In [9]:
# tipo de dato de cada columna
df.dtypes

index_miiad                        object
borough                           float64
neighborhood                       object
building_class_category            object
tax_class_at_present               object
block                             float64
lot                               float64
ease-ment                          object
building_class_at_present          object
address                            object
apartment_number                   object
zip_code                          float64
residential_units                 float64
commercial_units                  float64
total_units                       float64
land_square_feet                   object
gross_square_feet                  object
year_built                        float64
tax_class_at_time_of_sale         float64
building_class_at_time_of_sale     object
sale_price                         object
sale_date                          object
dtype: object

In [10]:
# sale_price, land_square_feet, gross_square_feet --> float
cols = ["sale_price", "land_square_feet", "gross_square_feet"]
df[cols] = df[cols].replace(" -  ", np.nan).applymap(pd.to_numeric)

/tmp/ipython-input-1809742697.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df[cols] = df[cols].replace(" -  ", np.nan).applymap(pd.to_numeric)

In [11]:
# tipo de dato de cada columna
df.dtypes

index_miiad                        object
borough                           float64
neighborhood                       object
building_class_category            object
tax_class_at_present               object
block                             float64
lot                               float64
ease-ment                          object
building_class_at_present          object
address                            object
apartment_number                   object
zip_code                          float64
residential_units                 float64
commercial_units                  float64
total_units                       float64
land_square_feet                  float64
gross_square_feet                 float64
year_built                        float64
tax_class_at_time_of_sale         float64
building_class_at_time_of_sale     object
sale_price                        float64
sale_date                          object
dtype: object